*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to left, #36D1DC, #5B86E5);
}

.flex{
    display: flex;

}
.flex-1{
    align-items: center;
    justify-content: center;
}
.flex-2{
    align-items: center;
    justify-content: space-between;
}
.flex-dir{
    flex-direction: column;
}

.grid{
    display: grid;
}
.grid-1-col{
    grid-template-columns: repeat(1,1fr);
}
.grid-2-col{
    grid-template-columns: repeat(2,1fr);
}
.grid-3-col{
    grid-template-columns: repeat(3,1fr);
}
.grid-4-col{
    grid-template-columns: repeat(4,1fr);
}
.grid-5-col{
    grid-template-columns: repeat(5,1fr);
}
.grid-6-col{
    grid-template-columns: repeat(6,1fr);
}
.grid-7-col{
    grid-template-columns: repeat(7,1fr);
}

.gap08{
    gap: 0.8rem;
}
.gap16{
    gap: 0rem;
}
.gap24{
    gap: 0.8rem;
}
.gap32{
    gap: 0.8rem;
}
.gap48{
    gap: 4.8rem;
}
.gap64{
    gap: 6.4rem;
}
.gap72{
    gap: 7.2rem;
}
.gap96{
    gap: 9.6rem;
}

.pad08{
    padding: 0.8rem;
}
.pad16{
    padding: 1.6rem;
}
.pad24{
    padding: 2.4rem;
}
.pad32{
    padding: 3.2rem;
}
.pad48{
    padding: 4.8rem;
}
.pad64{
    padding: 6.4rem;
}
.pad72{
    padding: 7.2rem;
}
.pad96{
    padding: 9.6rem;
}


/******gradients*/
.body{
    position: relative;
}
.grad-saver{
    position: absolute;
    right: 1.6rem;
    bottom: 0;
    background-color: #fff;
    border-radius: 1rem;
}
.section-grad{
    height: 95vh;
    background-color: #f7f7f734;
    margin: 1.6rem;
    border-radius: 1rem;
}
.label{
    font-size: 1.6rem;
    font-weight: 600;
    animation: formAni 2s ease;
}
.input,.select{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
    border: none;
    animation: formRevAni 2s ease;
}
.input:focus, .select:focus{
    border: none;
    outline: 0.2rem solid #36D1DC;
}
.grad-save1,.grad-save2{
    padding: 1.6rem;
    background-color: beige;
    border-radius: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    width: 15vh;
}
.secondary-heading{
    font-size: 1.6rem;
    text-align: center;
}
.button{
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: #5B86E5;
    color: #fff;
    animation: formRevAni 2s ease;

}
.grad-saver{
    animation: lastcolor 2s ease;
}


@keyframes formAni{
    0%{
        transform: translateX(20rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;

    }
}

@keyframes formRevAni{
    0%{
        transform: translateX(-20rem);
        opacity: 0;

    }
    100%{
        transform: translateX(0rem);
        opacity: 1;


    }
}

@keyframes lastcolor{
    0%{
        transform: translateY(-100vh);
    }
    100%{
        transform: translateY(0%);

    }
}